
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>
<fieldset>
    <div class="display-label">Id Loại: @Html.Encode(Model.id)</div>
    <div class="display-label">
        Tên Thương Hiệu:
        @Html.Encode(Model.ten)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Quay lại danh sách", "Index")
    </p>
}
